* {
  padding: 0;
  margin: 0;
}

body{
  background-color: rgb(68, 68, 68);
}

.outer-box {
  width: 50%;
  border: 1px solid black;
  border-radius: 6%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: black;
}

.textarea{
  width: 100%;
}

.io-textarea {
  margin: 10px auto;
  border: 2px solid black;
  text-align: right;
  min-height: 150px !important;
  font-size: 60px;
}

.btns {
  margin: 10px;
  font-size: 25px;
  color: #06D001;
  border-color: grey;
  padding: 10px;
  width: 120px;
  text-align: center;
  border-radius: 50%;
  transition: ease-in-out .1s;
}

.btns:hover{
  border: none;
  border-bottom: 3px solid #06D001;
  color: yellow;
}